.input {
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  outline: none;
}

.button {
  padding: 10px 15px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
}