.wrapper {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
}

.cardHeader {
  background-color: #0667b5;
  padding: 10px;
  color: #fff;
}

.cardBody {
  padding: 10px;
}

.cardBody p {
  margin: 0;
}