.wrapper {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 15px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}